.register-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row-reverse; /* Invierte el orden de las columnas */
}

.right-container {
  width: 50%;
  height: 105.6%;
  background-image: url("../../../assets/images/loginImage.png");
}

.left-container {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-control {
  width: 300px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  border: 2px solid #000;
  opacity: 0.4;
}

.form-label {
  display: flex;
  width: 130px;
  height: 20px;
  padding: 1px 9px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #00473A;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;
  text-transform: uppercase;
  flex-direction: column;
}


.form-label-name{
  display: flex;
  width: 180px;
  height: 20px;
  padding: 1px 9px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #00473A;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;
  text-transform: uppercase;
  flex-direction: column;
}

.btn {
  width: 157px;
  height: 61px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #00473A;
}

.btn-primary {
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 141%;
}

.form-check {
  display: flex;
  align-items: center;
  /* Centra verticalmente */
}

.form-check-input {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid var(--grey, #000);
  opacity: 0.5;
}

.form-check-label {
  width: 256px;
  height: 50px;
  margin-left: 5px;
  flex-shrink: 0;
  color: var(--grey, #000);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.form-label2 {
  color: var(--Primary, #000);
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 141%;
}



.title-icon {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  font-family: Plaster;
  text-align: center;
}



.mb-50 {
  margin-bottom: 20px;
}

.mt-50 {
  margin-top: 20px;
}

.link {
  text-decoration: underline;
  color: #551A8B;
}

.input-container {
  position: relative;
  display: inline-block;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.error {
  opacity: 1;
  border: solid #ff0000;
}

.error-message {
  color: red;
}
