<div class="register-container">
  <div class="right-container"></div>
  <div class="left-container">
    <h1 class="title-icon">LAPIZ</h1>
    <div class="form-container">
      <!-- register.component.html -->

      <form (ngSubmit)="registerUser()">
        <div class="mt-20">
          <label for="Username" class="form-label-name">NOMBRE COMPLETO</label>
          <input
            type="text"
            class="form-control"
            id="Username"
            name="Username"
            [placeholder]="submitClicked && !user.fullName ? 'Campo requerido' : 'Ejemplo: Sarita Rincon'"
            [(ngModel)]="user.fullName"
            [class.error]="submitClicked && !user.fullName"

            required
          >
        </div>
        <div class="mt-20">
          <label for="InputEmail" class="form-label">EMAIL</label>
          <input
            type="email"
            class="form-control"
            id="InputEmail"
            name="InputEmail"
            [placeholder]="submitClicked && !user.username ? 'Campo requerido' : 'Ejemplo: SaritaRincon@ejermplo.com'"
            [(ngModel)]="user.username"
            [class.error]="submitClicked && !user.username"
            required
          >
        </div>
        <div class="mt-20">
          <label for="InputPhone" class="form-label">TELEFONO</label>
          <input
            type="tel"
            class="form-control"
            id="InputPhone"
            name="InputPhone"
            [placeholder]="submitClicked && !user.userNumberPhone ? 'Campo requerido' : 'Ejemplo: 3124567890'"
            [(ngModel)]="user.userNumberPhone"
            [class.error]="submitClicked && !user.userNumberPhone"
            required
          >
        </div>
        <div class="input-container">
          <label for="InputPassword" class="form-label">CONTRASEÑA</label>
          <input
            [type]="passwordFieldType"
            class="form-control"
            id="InputPassword"
            name="InputPassword"
            [placeholder]="submitClicked && !user.password ? 'Campo requerido':'' "
            [(ngModel)]="user.password"
            [class.error]="submitClicked && !user.password"
            required
          >
          <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
            <i *ngIf="passwordFieldType === 'password'" class="bx bx-hide"></i>
            <i *ngIf="passwordFieldType === 'text'" class="bx bx-show"></i>
          </button>
        </div>
        <div class="mb-50 form-check">
          <input type="checkbox" class="form-check-input" id="Check1" required>
          <label class="form-check-label" for="Check1">Al crear una cuenta usted acepta nuestros <a href="#">términos y condiciones</a></label>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <div class="mb-50 mt-50">
          <label class="form-label2">¿Ya eres miembro?<a (click)="LoginClicked()" class="link"> Inicia Sesión </a></label>
        </div>
      </form>

    </div>
  </div>
</div>
