<body>
  <div class="container-detailsProduct">
    <div *ngIf="loading">Cargando producto...</div>
    <div *ngIf="!loading" class="contenedor1">

      <div class="container-details">
        <div class="container-images">
          <img [src]="'../../../assets/images/' + product.gemImage" alt="Imagen Product" class="img-responsive">
        </div>


        <div class="container-text">
          <div class="name-price">
            <h1> {{ product.gemName }}</h1>
            <p>$ {{ product.gemPrice }}</p>
            <p> {{ product.description }}</p>
            <div class="quantity-detail">
              <div class="centered">
                <div class="quantity-input">
                  <input type="number" id="quantity" name="quantity" min="1" [max]="product.unitsAvailable"
                    [(ngModel)]="quantity" (input)="checkQuantity()">

                </div>
                <button class="add-to-cart-button" (click)="addToCart()" [disabled]="quantityError">
                  <i class="bx bx-cart-alt"></i> Agregar al carrito
                </button>

              </div>
              <div *ngIf="quantityError" class="error-message">{{ quantityError }}</div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="comments-section">


      <div class = "comment-details">
        <div  class ="title">
          <h3>Dejanos tu comentario</h3>
        </div>
        <form (ngSubmit)="onSubmit()" class="comment-form" id="comment-form">
          <div class = "form">
            <label >Usuario:</label><br>
            <input class="form-email" data-test="user-email" type="email" id="userEmail" name="userEmail"
                   [placeholder]="submitClicked && !comment.userEmail? 'Campo requerido' : 'Ejemplo: Sarita Rincon'"
                   [(ngModel)]="comment.userEmail"
                   [class.error]="submitClicked && !comment.userEmail"
                   required >
            <br><br>
            <label >Escribe tu comentario:</label><br>
            <textarea class="form-rev" data-test="user-rev" id="comment" name="comment" rows="4"
                      [placeholder]="submitClicked && !comment.revDescription? 'Campo requerido' : 'Ejemplo: Sarita Rincon'"
                      [(ngModel)]="comment.revDescription"
                      [class.error]="submitClicked && !comment.revDescription"
                      required
            ></textarea><br><br>
            <button data-test="submit-comment-button" type="submit" >Enviar Comentario</button>
          </div>
        </form>
      </div>


      <div *ngIf="commentP && commentP.length > 0" class="comment-table-container">
        <table class="comment-table">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Comentario</th>
              <th>Fecha de Comentario</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let comment of paginatedComments">
              <tr>
                <td>{{ comment.userEmail }}</td>
                <td>{{ comment.revDescription }}</td>
                <td>{{ comment.date_comment | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="pagination-buttons">
          <button (click)="previousPage()" [disabled]="currentPage === 1"
            [class.disabled]="currentPage === 1">Anterior</button>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
        </div>
      </div>
    </div>
  </div>

</body>
