body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.title-icon {
  color: #000000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  font-family: Plaster;
  text-align: center;
}

.icons-left,
.icons-right {
  flex: 1; /* Ancho igual para todas las divisiones */
  text-align: center; /* Centra el contenido si es necesario */
}

.container-icons {
  text-align: center;
  color: white;
  background-color: #00473A;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between; /* Espacio igual entre las divisiones */
  align-items: center;
}


header {
  display: flex;
  text-align: center;
  color: white;
  padding: 20px;
  height: 20px;
  display: flex;
  justify-content: center; /* Espacio igual entre las divisiones */
  align-items: center;
}

.icons-right a i {
  color: white;
  font-size: 40px;

}

.icons-left {
  color: #FFFFFF;
  font-family: Pompiere;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  text-align: left;

}

.icons-right a{
  margin-right: 20px
}

.icons-right{
  text-align: right;
}



.name-price {
  text-align: left;
  font-family: "Josefin Sans";
}

.name-price h1{
  color: #000;
  font-family: Josefin Sans;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5625rem;
  padding: 10px; /* Espacio alrededor de los elementos (opcional) */
}

.name-price p{
  color: #00473A;
  font-family: Josefin Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 15px; /* Espacio alrededor de los elementos (opcional) */
}

.container-images {
  justify-content: center;
}

.add-to-cart-button {
  background-color: #054B3A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  display: flex;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center;
}

.add-to-cart-button i {
  margin-right: 5px;
  font-size: 24px;
  vertical-align: middle;
}


.comments-section {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.comment-details {
  flex: 1;
  margin: 10px; /* Añade un margen para separar los elementos */
  font-family: Josefin Sans;

}

.container-details {
  display: flex;
  justify-content: space-between;
}

form button{
  font-family: Josefin Sans;
}


.container-images,
.container-text {
  flex: 1;
  padding: 10px; /* Espacio alrededor de los elementos (opcional) */
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.container-images img {
  max-width: 80%; /* La imagen no superará el ancho del contenedor */
  max-height: 80%; /* La imagen no superará la altura del contenedor */
  display: block; /* Centra horizontalmente la imagen */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}

.comment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.comment-table{
  font-family: Josefin Sans;
}

.comment-table thead tr {
  background-color: #00473A;
  color: #ffffff;
  text-align: left;
}

.comment-table th,
.comment-table td {
  padding: 12px 15px;
}

.comment-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.comment-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.comment-table tbody tr:last-of-type {
  border-bottom: 2px solid #00473A;
}


.quantity-detail {
  text-align: center; /* Alinea los elementos en el centro del contenedor */
}

.centered {
  display: flex; /* Usa flexbox para colocar los elementos en la misma fila */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: center; /* Alinea horizontalmente los elementos en el centro */
}

.quantity-input {
  margin-right: 100px; /* Agrega margen entre los elementos si es necesario */
}

.quantity-input input {
  border-radius: 20px;
  border: 2px solid #00473A ;
  padding: 5px;
  width: 50px;
  height: 30px
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h3 {
  display: inline;
  font-family: Josefin Sans;
  padding: 10px;
  background-color: #00473A;
  color: white;
  border-radius: 15px;
}

.comment-form {
  display: flex;
  justify-content: center;
  align-items: center;

}


.form button {
  border-radius: 15px; /* Agrega bordes redondeados al botón */
  padding: 10px;
  background-color: #00473A;
  color: white;
  cursor: pointer;
}

.error-message {
  color: red; /* Color de texto rojo */
  margin-top: 10px;
}

.comment-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta la altura según sea necesario */

}

.comment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 65px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: Josefin Sans;
  text-align: center;
}


.comment-table th,
.comment-table td {
  padding: 12px 15px;
  text-align: center;
}


.form label {
  display: block;
  margin-bottom: 5px;
  font-family: Josefin Sans;
}

.form input[type="email"],
.form textarea {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px; /* Añade bordes redondeados */
  font-family: Josefin Sans;

}
.pagination-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px; /* Añade un espacio de 10px entre el borde derecho y los botones */
}

.pagination-buttons button {
  margin: 5px 0; /* Añade un espacio de 5px entre los botones */
  border-radius: 40px;
  font-family: Josefin Sans;
  background-color: #00473A;
  color: white;
  font-size: 0.9em;
  width: 100px; /* Establece un ancho fijo para los botones, ajusta según sea necesario */
  height: 25px
}

.pagination-buttons button.disabled {
  background-color: #f0f0f0; /* Cambia el color de fondo cuando está deshabilitado */
  color: #ccc; /* Cambia el color del texto cuando está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}

.comment-table td {
  padding: 12px 15px;
  text-align: center;
  max-width: 300px; /* Establece la anchura máxima que deseas para cada celda */
  word-wrap: break-word; /* Permite que las palabras se rompan y vayan a la siguiente línea */
  overflow: hidden; /* Oculta el contenido que se desborda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el contenido se desborda */
}


.form label {
  display: block;
  margin-bottom: 5px;
  font-family: Josefin Sans;
}

.form input[type="email"],
.form textarea {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  padding: 8px;
  border: 1px solid #555;
  border-radius: 5px; /* Añade bordes redondeados */
  font-family: Josefin Sans;

}

.form [class].error {
  border: solid #ff0000;
}


.form input[type="email"].error::placeholder,
.form textarea.error::placeholder {
  color: #ff0000; /* Color rojo para el texto del placeholder */
  font-family: Josefin Sans;

}


