
<div class="login-container">
    <div class="left-container"></div>
    <div class="right-container">
        <h1 class="title-icon">LAPIZ</h1>

        <div class="form-container">
            <form [formGroup]="loginForm">
                <p class="text-danger">{{loginError}}</p>
                <div class="mt-20">
                    <label for="InputEmail" class="form-label">USUARIO</label>
                    <input formControlName="username" data-test="email" type="email" class="form-control" id="InputEmail">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors?.['required']">
                            El Email es requerido.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            El Email debe tener un formato válido.
                        </div>
                    </div>
                </div>
                <div>
                    <label for="InputPassword" class="form-label">CONTRASEÑA</label>
                    <input formControlName="password" data-test="password"  type="password" class="form-control" id="InputPassword">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger">
            <div *ngIf="password.errors?.['required']">
                El Password es requerido.
            </div>
        </div>
                </div>
                <div class="mb-50 form-check">
                    <input type="checkbox" class="form-check-input" id="Check1">
                    <label class="form-check-label" for="Check1">Al crear una cuenta usted acepta nuestros <a
                            href="#">términos y condiciones</a></label>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()" >Ingresar</button>
                <div class="mb-50 mt-50">
                    <label class="form-label2">¿No eres miembro?<a (click)="RegisterClicked()"
                            class="link">Registrate</a></label>
                </div>
            </form>
        </div>

    </div>
</div>

