body {
  margin: 0;
  padding: 0;
  background-image: url("../../../assets/images/homeImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-home {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  flex: 1;
}

header {
  text-align: center;
  color: white;
  padding: 20px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-icon {
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  font-family: Plaster;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
  text-align: center;
}

.header-left {
  color: #B0B0B0;
  font-family: Josefin Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
}

.header-right a i {
  color: white;
  font-size: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.header-right a{
  margin-right: 30px
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.form-search {
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid  #E4E7EE;
  background: #FFF;
  padding-right: 50px;
  height: 40px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  border-radius: 0 8px 8px 0;
  color: black;
  background-color: #00473A;
}

.search-button i{
  color: white;
  font-size: 22px;
}

.bx-user {
  cursor: pointer;
}

.bx-user {
  transition: transform 0.2s;
}

.bx-user:hover {
  transform: scale(1.19999);
  cursor: pointer;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: #00473A;
  top: 10%
}

.dropdown-content button:hover {
  background-color: #00473A;
  cursor: pointer;
  color: rgb(245, 239, 239);
}
.dropdown-content div,
.dropdown-content button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: #00473A;
  font-family: Josefin Sans;
  text-align: center;
  border: 1px solid #00473A;
  transition: background-color 0.2s ease;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  .form-search {
    padding-right: 20px;
  }

  .title-icon {
    font-size: 48px;
  }

  .header-left {
    font-size: 24px;
  }

  .header-right a i {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .form-search {
    padding-right: 10px;
  }

  .title-icon {
    font-size: 32px;
  }

  .header-left {
    font-size: 18px;
  }

  .header-right a i {
    font-size: 24px;
  }
}

