<body>
  <div class="container-home">
    <header>
      <div class="header-left">
        <a>{{'Acerca de Nosotros'|translate}}</a>
      </div>
      <div class="header-center">
        <h1 class="title-icon">LAPIZ</h1>
      </div>
      <div class="header-right">
        <div class="dropdown">
          <a (click)="toggleDropdown()"><i class="bx bx-user"></i></a>
          <div class="dropdown-content" *ngIf="dropdownOpen">
            <div *ngIf="!userLoginOn" class="alert alert-danger">{{'Usuario NO autenticado'|translate}}</div>
            <div *ngIf="userLoginOn" class="alert alert-success">{{ userNameDecoded }}</div>
            <button *ngIf="!userLoginOn" (click)="loginClicked()">{{'Iniciar sesión'|translate}}</button>
            <button *ngIf="userLoginOn" (click)="logout()">{{'Cerrar sesión'|translate}}</button>
          </div>
        </div>
        <div>
          <app-switch></app-switch>
        </div>
      </div>
    </header>
    <div class="container-search">
      <form action="#" method="post" (ngSubmit)="searchClicked()">
        <div class="input-container">
          <input type="text" [(ngModel)]="searchTerm" class="form-search" name="search" id="InputSearch" placeholder="{{'Buscar en LAPIZ'|translate}}">
          <button type="submit" class="search-button"><i class="bx bx-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</body>
