select {
  height: 30px;
  background: white;
  color: #00473A;
  padding-left: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;

  option {
    color: black;
    background: white;
    display: flex;
    white-space: pre;
    min-height: 20px;
    padding: 0px 2px 1px;
  }
}
