.product-list-admin {
    width: 100%;
    min-height: 100vh;
    /* Establece un mínimo de alto para acomodar el contenido */
    display: flex;
}

.filter-container {
    width: 30%;
    min-height: 100vh;
    background-color: #d9d9d9;
    padding-top: 2%;
}
.botones {
    text-align: center;
    margin-top: 15px;
  }

  /* Estilos para los elementos input tipo "button" */
  .botones input[type="button"] {
    padding: 5px 1px;
    cursor: pointer;
    display: block; /* Coloca los elementos uno debajo del otro */
    border: none; /* Elimina el borde predeterminado de los elementos input */
    background-color: #d9d9d9; /* Color de fondo */
  }

.list-container {
    width: 70%;
    height: 100%;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter-name {
    color: black;
    font-size: 16px;
    font-family: Josefin Sans;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.filter-name.clicked {
color: #ff5733;
  font-weight: bold;
  font-size: 30px;
  }


.filter-label {
    color: #054B3A;
    font-size: 20px;
    font-family: Josefin Sans;
    font-weight: 700;
    /*text-transform: uppercase;*/
  margin-top: 20px;
  cursor: default;
}
.filter-label-white {
  color: #ffffff;
  font-size: 20px;
  font-family: Josefin Sans;
  font-weight: 700;
  /*text-transform: uppercase;*/
margin-top: 20px;
cursor: default;

}

.filter-price {
    max-width: 300px;
    width: 300px auto;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #ffff;
    outline: none;
    border-radius: 5px;
}

/* Cambio de color del circulo*/
.filter-price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #054B3A;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #d9d9d9;
}

.m-30 {
    margin: 7%;
}
.m-20{
  margin-left: 5.5%;
}

.container-product-list {
  /*cursor: pointer;*/
    margin: 2% 8%;
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos vayan hacia abajo si no caben en una fila */
    justify-content: space-between;
    /* Espacio entre los productos */
    max-width: 100%;
    /* Asegura que el contenedor no se desborde */
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
  }
.container-product {
  cursor: pointer;
    margin: 10px;
    width: 300px;
    margin-bottom: 20px;
    /* Espacio entre las filas de productos */
    box-sizing: border-box;
    /* Incluye el espacio del borde y el relleno en el cálculo del ancho */
}


.container-image {
    width: auto;
    max-width: 300px;
    height: 260px;
    flex-shrink: 0;
    border-radius: 33px;
    background: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container-image img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 100%;
    /* Asegura que la imagen ocupe todo el alto del contenedor */
    object-fit: cover;
    border-radius: 33px;
}

.m-0 {
    margin: 0px;
}

.align-center {
    text-align: center;
}

.tittle-font {
    color: #054B3A;
    font-size: 20px;
    font-family: Josefin Sans;
    font-weight: 700;
}

.subtittle1-font {
    color: #000;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 300px;
}

.subtittle2-font {
    color: #545F71;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.product-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Centra el contenido de texto */
  }



.filter-id {
    text-align: left;
}

.add-product-container {
  display: flex;
  align-items: center;
}

.icon-xl {
  font-size: 2.5em; /* Ajusta el tamaño según tus preferencias */
  color: white; /* Cambia el color a azul */
  cursor: pointer;
}

.add-product-container {
  background-color: #00473A;
}

.add-product-container label {
  color: white; /* Cambia el color del texto a blanco */
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  flex: 1;

}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 20px}

.form-search {
  font-family: Josefin Sans;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid  #E4E7EE;
  background: #FFF;
  padding-right: 400px;
  height: 40px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  border-radius: 0 8px 8px 0;
  color: black;
  background-color: #00473A;
}

.search-button i{
  color: white;
  font-size: 22px;
}

input.form-search {
  background-color: #d9d9d9;;

}

.search-filter{
  cursor: pointer;
}

.filter-code {
  font-family: Josefin Sans;
  flex-grow: 1;
  border-radius: 8px;
  border: 1px solid  #E4E7EE;
  background: #FFF;
  padding-right: 100px;
  height: 30px;
}

.search-code {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: none;
  border-radius: 0 8px 8px 0;
  color: black;
  background-color: #00473A;
}

.search-code i{
  color: white;
  font-size: 22px;
}

.form-search1{
  border-radius: 10px;
  font-family: Josefin Sans;
  height: 40px;
  background-color: #00473A;
  color: white;
  font-size: 15px;

}

.subtittle2-font{
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
}

.pagination button {
  font-family: Josefin Sans;
  background-color: #00473A;
  color: white;
  font-size: 0.9em;
  width: 100px; /* Establece un ancho fijo para los botones, ajusta según sea necesario */
  height: 25px;
  border-radius: 40px;
  margin: 0 10px; /* Ajusta el espacio horizontal entre los botones según sea necesario */

}


