<div class="product-list-admin">
  <div class="filter-container">

    <div class="filter-label">
      <i class='bx m-20'></i> Filtro Aplicado: {{ selectedFilter }}
      <span *ngIf="selectedFilter" (click)="clearFilter()">
    <i class='bx bx-trash' ></i>
  </span>
    </div>

    <div class="filter-label">
    <div class="filter-label m-30">PRODUCTO</div>
    <div class="filter-name" id="filterType"></div>
    </div>


    <div class="filter-label m-30">PRECIO</div>
    <div class="botones m-30 filter-name">
      <input class="filter-name" data-test="filter-price" type="button" (click)="filterByPrice(100, 150)" value="100-150">
      <input class="filter-name" data-test="filter-price" type="button" (click)="filterByPrice(151, 175)" value="151-175">
      <input class="filter-name" data-test="filter-price" type="button" (click)="filterByPrice(176, 200)" value="176-200">
    </div>

   <label for="codigoEAN" class="filter-label m-30">CODIGO EAN</label>
      <div class="botones m-30 filter-name">
        <div class="input-container"> 
        <input id="codigoEAN" class="filter-code" type="text" [(ngModel)]="eanInput" placeholder="Ingresa el Cod. EAN">
        <button aria-label="Buscar" class="search-code"  ><i (click)="filterByProductId()" class="bx bx-search"></i></button>
        </div>
      </div>
    <div class="add-product-container">
      <div class="filter-label-white m-30">CREAR PRODUCTO</div>
      <a (click)="CreateClicked()"><i class="bx bx-list-plus icon-xl"></i></a>
    </div>

  </div>

  <div class="list-container">

    <div class="container-search">
      <label for= "InputSearch" class="filter-label m-30">BUSCAR PRODUCTO</label>
      <div class="input-container">
        <input type="text" [(ngModel)]="searchTerm" class="form-search" name="search" id="InputSearch" placeholder="Buscar en LAPIZ">
        <button aria-label="Buscar" class="search-button" (click)="searchClicked()"><i class="bx bx-search"></i></button>
      </div>
      <select   aria-label="cantidad de resultados" class="form-search1" name="numberOfProducts" >
        <option value="10">10 productos</option>
        <option value="20">20 productos</option>
        <option value="50">50 productos</option>
      </select>
    </div>


    <div class="m-30">
      <h1 class="tittle-font" id="inputProduct">Resultados de tu busqueda: {{ this.inputProduct }}</h1>
      <h2 class="subtittle2-font" id="quantity">{{ quantity === 0 ? 'Upss no hay productos, sin embargo puedes mirar nuestros demás articulos' :  this.quantity  }} </h2>

      <div class="container-product-list flex-container" *ngIf="showFilteredProducts">
        <div *ngFor="let product of products" (click)="selectProduct(product.id)" class="container-product">
          <div class="container-image">
            <img data-test="gemImage" [src]="'../../../assets/images/' + product.gemImage" alt="Imagen del producto">
          </div>
          <div class="product-info">
            <h3 class="subtittle1-font align-center" data-test="gemName">{{product.gemName}}</h3>
            <p class="subtittle2-font align-center" data-test="gemPrice">Precio: {{product.gemPrice}}</p>
          </div>
        </div>
      </div>

      <!-- Opcional: Mostrar todos los productos utilizando un ng-template cuando showFilteredProducts es false -->
        <div class="container-product-list flex-container" *ngIf="!showFilteredProducts">
          <div *ngFor="let product of products" (click)="selectProduct(product.id)" class="container-product">
            <div class="container-image">
              <img [src]="'../../../assets/images/' + product.gemImage" alt="Imagen del producto filtrado">
            </div>
            <div class="product-info">
              <h3 data-test="gemName" class="subtittle1-font align-center">{{product.gemName}}</h3>
              <p data-test="gemPrice" class="subtittle2-font align-center">Precio: {{product.gemPrice}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
