.form-group {
  display: flex;
  flex-direction: column; /* Cambiar el flujo a columna */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  margin-bottom: 10px;
}

.create-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr; /* Divide la página en tres columnas */
  justify-content: center;
  height: 80vh;
  column-gap: 20px; /* Espacio entre las columnas */
}

.left-image-container, .right-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: repeat-y; 
  background-size: auto 100%;
  opacity: 0.3;
  width: 100%;
  height: 100vh; 
}


.form-container {
  text-align: center;
  background-color: rgba(104, 234, 155, 0.56);
  padding: 20px;
  border: #545F71;
  position: relative;
  align-items: start;
  align-items: center;
  border-radius: 15px;
  margin: 0 auto;
}

/* Estilos para las imágenes izquierda y derecha */
.left-image, .right-image {
  max-width: 100%;
  height: 100%;
}


.form-container {
  text-align: center;
  background-color: #00473A; /* Color de fondo más tenue */
  border: #545F71;
  height: auto;
  border: #054B3A;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 15px ;
  margin-bottom: 15px ;
}

.form-control{
  width: 400px; /* Ancho fijo en píxeles */
  height: 35px;
  font-family: Josefin Sans;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.54);
}

.form-control[type="Select"] {
  width: 405px; /* Ancho fijo en píxeles */
  height: 35px;
  font-family: Josefin Sans;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.55);
}

.form-control[type="file"] {
  width: 405px; /* Ancho fijo en píxeles */
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.55);
  background: white;
}

.form-label,.lista{
  display: inline-block;
  width: 180px;
  height: 25px;
  margin-bottom: 10px;
  background: #00473A;
  color: white;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  padding: 5px;
  border-radius: 10px;
  line-height: 1.5;
}

.btn {
  width: 157px;
  height: 61px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.55);
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-top: 20px; /* Agregar espacio arriba del botón */
}

.btn:hover {
  background: #002E25;
}

.btn-primary {
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 141%;
}


.title-icon {
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  font-family: Plaster;
  text-align: center;
  background-color: #00473A; /* Color de fondo más tenue */
}

.title{
  color: #ffffff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  font-family: Josefin Sans;
  text-align: center;
  background-color: #00473A; /* Color de fondo más tenue */
}


.mb-50 {
  margin-bottom: 20px;
}

.mt-50 {
  margin-top: 20px;
}

.success-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745; /* Color de fondo verde */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.success-message {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s; /* Animación de desvanecimiento */
  text-align: center; /* Centra el texto horizontalmente */
}

.success-image {
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s; /* Animación de desvanecimiento */
  margin-top: 10px; /* Agrega un espacio entre el mensaje y la imagen */
}

.hide {
  opacity: 0; /* Hace que los elementos se desvanezcan al cambiar la opacidad */
}

.error {
  opacity: 1;
  border: solid #ff0000;
}

.error-message {
  color: red;
}



/* Estilos para la barra de navegación */
.nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-family: Josefin Sans;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a una nueva línea */
  padding: 0; /* Elimina el relleno predeterminado de la lista */

}

.nav-item {
  flex: 1 0 33%; /* Ajusta el ancho de cada elemento de la barra de navegación */
  max-width: 33%; /* Define el ancho máximo para evitar que el tamaño de las palabras afecte el diseño */
  text-align: center; /* Centra el texto */
}

.nav-link {
  text-decoration: none;
  padding: 5px; /* Ajusta el espacio alrededor del texto */
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  white-space: nowrap; /* Evita que las palabras se dividan en varias líneas */
  color: #fff;
}

.nav-link.active {
  background-color: #00B140;
  color: #000000;
  padding: 5px;
}

.nav-link:hover {
  background-color: #008732;
  color: #000000;
}



/* Estilos para el select */
#productSelect, #productSelectDelete{
  padding: 8px 15px; /* Ajusta el espaciado interno */
  border-radius: 5px; /* Agrega bordes redondeados */
  border: 1px solid #ccc; /* Agrega un borde */
  font-family: Josefin Sans, sans-serif; /* Usa la fuente que estás manejando */
  font-size: 14px; /* Tamaño de fuente */
  color: black; /* Color de texto */
  font-weight: 700;
}

/* Cambia el estilo del foco del select */
#productSelect:focus, #productSelectDelete:focus {
  outline: none; /* Elimina el borde al enfocar */
  border-color: #00B140; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(0, 177, 64, 0.5); /* Agrega una sombra al enfocar */
}

.error {
  opacity: 1;
  border: solid #ff0000;
}

.error-message {
  color: red;
}


