<div class="create-container">
  <div class="left-image-container">
  </div>
  <div class="form-container">
    <h2 class="title">Gestión de Productos</h2>

    <ul class="nav nav-tabs">
      <li class="nav-item" (click)="activeTab = 'create'">
        <a class="nav-link" [class.active]="activeTab === 'create'">Crear Producto</a>
      </li>
      <li class="nav-item" (click)="activeTab = 'update'">
        <a class="nav-link" [class.active]="activeTab === 'update'">Actualizar Producto</a>
      </li>
      <li class="nav-item" (click)="activeTab = 'delete'">
        <a class="nav-link" [class.active]="activeTab === 'delete'">Eliminar Producto</a>
      </li>
    </ul>



    <div class="tab-content">
      <!-- Contenido para Crear Producto -->
      <div *ngIf="activeTab === 'create'">
        <form (ngSubmit)="onAddProduct()">
          <!-- Aquí va tu formulario de creación de producto -->
          <div class="form-container">
            <div class="form-group">
              <label class="form-label" for="upgemName">Nombre de la Gema</label>
              <input class="form-control" data-test="gemName" type="text" id="upgemName" name="upgemName"
                     [placeholder]="submitClicked && !product.gemName ? 'Campo requerido' : 'Ejemplo: Citrino'"
                     [(ngModel)]="product.gemName"
                     [class.error]="submitClicked && !product.gemName"

                     required>
            </div>

            <div class="form-group">
              <label class="form-label" for="updescription">Descripción</label>
              <textarea class="form-control" data-test="description" id="updescription" name="updescription"
                        [placeholder]="submitClicked && !product.description ? 'Campo requerido' : 'Ejemplo: cristal'"
                        [(ngModel)]="product.description"
                        [class.error]="submitClicked && !product.description"

                        required></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="uptypeGem">Tipo de Gema</label>
              <select class="form-control" data-test="typeGem" id="uptypeGem" name="uptypeGem"
                      [(ngModel)]="product.typeGem"
                      [class.error]="submitClicked && !product.typeGem"
                      required>
                <option value="" disabled selected>...</option>
                <option value="Gema">Gema</option>
                <option value="Cristal">Cristal</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="upgemPrice">Precio</label>
              <input class="form-control" data-test="gemPrice" type="number" id="upgemPrice" min="1" name="upgemPrice"
                     [(ngModel)]="product.gemPrice"
                     [class.error]="submitClicked && !product.gemPrice"
                     required>
            </div>

            <div class="form-group">
              <label class="form-label" for="upunitsAvailable">Unidades Disponibles</label>
              <input class="form-control" type="number" data-test="unitsAvailable" id="upunitsAvailable" min="1" name="upunitsAvailable"
                     [(ngModel)]="product.unitsAvailable"
                     [class.error]="submitClicked && !product.unitsAvailable"
                     required>
            </div>

            <div class="form-group">
              <label class="form-label" for="upgemImage">Imagen de la Gema</label>
              <input class="form-control" data-test="gemImage" type="file" id="upgemImage" name="upgemImage"
                     (change)="onFileSelected($event)"
                     accept="image/*"
                     required >
            </div>
          </div>
          <button class="btn btn-primary" type="button" (click)="onAddProduct()">Agregar Producto</button>
        </form>
      </div>
      <!-- Contenido para Actualizar Producto -->
      <div *ngIf="activeTab === 'update'">
        <!-- Lista desplegable para seleccionar un producto -->
        <div>
          <label class = "lista" for="productSelect">Seleccionar Producto:</label>
          <select id="productSelect" [(ngModel)]="selectedProductId" (change)="onSelectProduct()">
            <option *ngFor="let product of productList" [value]="product.id">{{ product.gemName }}</option>
          </select>
        </div>

        <!-- Formulario para actualizar un producto -->
        <form (ngSubmit)="updateProduct()">
          <!-- Mostrar detalles del producto seleccionado -->
          <div *ngIf="selectedProduct">
            <div class="form-group">
              <label class="form-label" for="gemName">Nombre de la Gema</label>
              <input class="form-control" type="text" id="gemName" name="gemName" [(ngModel)]="selectedProduct.gemName" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="description">Descripción</label>
              <textarea class="form-control" id="description" name="description" [(ngModel)]="selectedProduct.description" required></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="typeGem">Tipo de Gema</label>
              <select class="form-control"  id="typeGem" name="typeGem" [(ngModel)]="selectedProduct.typeGem" required>
                <option value="" disabled selected>Selecciona un tipo</option>
                <option value="Gema">Gema</option>
                <option value="Cristal">Cristal</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="gemPrice">Precio</label>
              <input class="form-control" type="number" id="gemPrice" min="1" name="gemPrice" [(ngModel)]="selectedProduct.gemPrice" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="unitsAvailable">Unidades Disponibles</label>
              <input class="form-control" type="number" id="unitsAvailable" min="1" name="unitsAvailable" [(ngModel)]="selectedProduct.unitsAvailable" required>
            </div>

            <div class="form-group">
              <label class="form-label" for="gemImage">Imagen de la Gema</label>
              <input class="form-control" type="file" id="gemImage" name="gemImage" (change)="onFileSelected($event)" required>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Actualizar Producto</button>
        </form>
      </div>

        <div *ngIf="activeTab === 'delete'">
          <div>
            <label class = "lista" for="productSelectDelete">Seleccionar Producto:</label>
            <select id="productSelectDelete" [(ngModel)]="selectedProductIdToDelete" (change)="onSelectProductToDelete()">
              <option *ngFor="let product of productList" [value]="product.id">{{ product.gemName }}</option>
            </select>
          </div>

          <button class="btn btn-danger" (click)="deleteProduct()" [disabled]="!selectedProductIdToDelete">Eliminar Producto</button>
        </div>


      <div class="success-message-container" *ngIf="successMessageVisible">
      <div class="success-message">
        ¡Producto creado o actualizado exitosamente! :D
      </div>
      <img class="success-image" src="assets/images/bobcholo.png" alt="Éxito">
    </div>
  </div>
  </div>
  <div class="right-image-container">
  </div>
</div>
