.container {
  display: flex;
  font-family: Josefin Sans;
}
.right-container{
  flex: 60%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.left-container{
  flex: 40%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ajusta el modelo de caja para incluir el margen y el padding */
  margin-right: 20px;
}

.Producto {
  border-color: #ddd;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: space-around;
  align-content: space-around;
  padding: 20px;
  max-height: 50rem;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: Josefin Sans;
  justify-content: center
}

.cart-item-image {
  margin-right: 30px;
  max-width: 15rem;
  max-height: 15rem;
  display: inline;
  margin-left: 10%;
}

.cart-item-image-container {
  padding: 10px;
  justify-content: center;
  align-items: center
}

.cart-item-details,
h3.product-name,
h2.product-name {
  flex-grow: 1;
  font-size: 20px;
  margin-bottom: 1px;
  text-align: center;
  font-family: Josefin Sans;
}

.cart-item-details button {
  background-color: #00473A;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item h3 {
  margin-bottom: 5px;
}

.cart-item p {
  margin: 10;
}

.Pago {
  grid-area: 1 / 4 / 2 / 6;
  font-size: 1.3rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  overflow-y: auto;
}

.rectangulo {
  padding: 0 15px;
  background-color: #001814;
  border-radius: 4px;
  flex-shrink: 0;
  font-size: 1.3rem;
  font-weight: 1000;
  color: #FFF;
  font-family: Josefin Sans;
  display: inline;
  text-align: center;
  line-height: 2;
}

.Adress {
  grid-area: 2 / 4 / 4 / 6;
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px;
  font-family: Josefin Sans;
}

.Adress form {
  display: flex;
  flex-direction: column;
}

.Adress label {
  margin-bottom: 5px;
}

.Adress input[type="text"] {
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Josefin Sans';
}

.Adress button {
  flex: 1;
}
.button-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.address-heading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.address-container {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  justify-content: center;
}

.Detalles-de-pago {
  display: block;
  justify-content: normal;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  padding: 20px;
}

.Detalles-de-pago input {
  font-family: 'Josefin Sans';
  margin-bottom: 10px;
  padding: 5px;
}

.Detalles-de-pago option {
  font-family: 'Josefin Sans';
}

.pay-heading {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.formulario-pago {
  margin-top: 20px;
}

.formulario-pago label {
  display: block;
  margin-bottom: 5px;
}

.formulario-pago input,
.formulario-pago select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.pay {
  background-color: #054B3A;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: Josefin Sans;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.pay:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}

#fechaVencimiento {
  width: 45%;
  display: inline-block;
}

#codigoCVV {
  width: 45%;
  display: inline-block;
}


#banco {
  width: 100%;
}

#correoPSE {
  width: 100%;
}

.confirmation-message {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

}

.maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 10;
  align-items: center;
}

.google-map {
  width: 100%;
  height: 400px;
  max-width: 100%;
}

.error-message {
  color: #d93025;
  font-size: 0.8em;
  margin-top: 5px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invalid-field {
  border: 1px solid red;
}

.remove-button {
  background-color: #d93025;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Josefin Sans';
  font-size: 1rem;
}

.remove-button:hover {
  background-color: #b5201d;
}

.logo-button {
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.logo-button:focus {
  outline: none;
}

.logo-image {
  width: 30px;
  height: auto;
}

.logo-button:hover .logo-image {
  opacity: 0.8;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}