<div class="container">
  <div class="right-container">
  <div class="Producto">
    <div *ngIf="compraExitosa" class="overlay">
      <div class="confirmation-message" data-test = "CompraExitosa">
        ¡Compra realizada con éxito!
      </div>
    </div>
    <h2 class="product-name">Referencias en el Carrito: {{ temporaryCartItems.length }}</h2>
    <div *ngIf="temporaryCartItems.length > 0">
      <div *ngFor="let item of temporaryCartItems" class="cart-item">
        <div class="cart-item-image-container">
          <img *ngIf="item.product" [src]="'../../../assets/images/' + item.product.gemImage" alt="Imagen Product"
            class="img-responsive cart-item-image">
        </div>
        <div class="cart-item-details">
          <h3 class="product-name">Producto: {{ item.product.gemName }}</h3>
          <p>Cantidad:
            <button (click)="decreaseQuantity(item)" class="quantity-button">-</button>
            {{ item.quantity }}
            <button (click)="increaseQuantity(item)" class="quantity-button">+</button>
          </p>
          <p>Valor Unitario: {{ item.product.gemPrice | currency:'USD':'symbol':'1.2-2' }}</p>
          <p>Costo: {{ item.product.gemPrice * item.quantity | currency:'USD':'symbol':'1.2-2' }}</p>
          <p>VAT: {{ item.vat | currency:'USD':'symbol':'1.2-2' }}</p>
          <p>Total: {{ item.total + item.vat | currency:'USD':'symbol':'1.2-2' }}</p>
          <button (click)="removeFromCart(item)" class="pay">Eliminar</button>
        </div>
      </div>
    </div>
    <p *ngIf="temporaryCartItems.length === 0">El carrito está vacío.</p>
  </div>
  <div class="maps">
    <div *ngIf="bandera; off" class="maps">
      <google-map [center]="center" [zoom]="zoom" class="google-map">
        <map-marker [position]="center"></map-marker>
      </google-map>
    </div>
    <ng-template #off> </ng-template>
  </div>
</div>
<div class= "left-container">
  <div class="Pago">
    <p> Costo: {{ totalCost | currency:'USD':'symbol':'1.2-2' }}</p>
    <p> Impuestos: {{ totalVat | currency:'USD':'symbol':'1.2-2' }}</p>
    <div class="rectangulo">
      <p>Costo total: {{ grandTotal | currency:'USD':'symbol':'1.2-2' }}</p>
    </div>
  </div>
  <div class="Adress">
    <p class="address-heading">Diligenciar los datos de envío</p>
    <form #formulario="ngForm" (ngSubmit)="confirmar_all()">
      <label for="name">Nombre</label>
      <input data-test = "NameTest" type="text" id="name" name="name" [(ngModel)]="name" required [disabled]="camposBloqueados">
      <div *ngIf="formulario.submitted && !validarNombre()" class="error-message">
        <p class="error-message">El campo solo acepta letras</p>
      </div>
      <label for="doc">Documento de identidad</label>
      <input data-test = "DocumentoTest" type="text" id="doc" name="doc" [(ngModel)]="doc" required [disabled]="camposBloqueados">
      <div *ngIf="formulario.submitted && !validarDocumento()" class="error-message">
        <p class="error-message">El campo solo acepta números.</p>
      </div>
      <label for="address">Dirección</label>
      <div class="address-container">
        <input data-test = "DireccionTest" type="text" id="address" name="address" [(ngModel)]="address" required [disabled]="camposBloqueados">
      <button class="logo-button" (click)="initMap()" [disabled]="camposBloqueados">
        <img [src]="'../../../assets/images/location.png'" alt="Logo" class="logo-image" />
      </button>
      </div>
      <div class="button-container">
        <button class="pay" data-test="ConfirmarTest" (click)="validarYConfirmar()" [disabled]="camposBloqueados || name =='' || doc =='' || address =='' || !verificarCamposDiligenciados()">
          <i class="bx bx-user-alt"></i> Confirmar
        </button>
        <button class="pay" (click)="limpiarCampos()" [disabled]="name =='' || doc =='' || address =='' ">
          <i class="bx bx-user-era"></i> Limpiar
        </button>
      </div>
    </form>
  </div>
  <div class="Detalles-de-pago">
    <div>
      <p class="pay-heading">Seleccione un método de pago</p>
      <p>
        <input type="radio"  data-test = "CheckTest" id="tarjetaOption" name="paymentMethod" value="tarjeta" [(ngModel)]="selectedPaymentMethod">
        <label for="tarjetaOption">Tarjeta de Crédito</label>
        <input type="radio" data-test = "CheckTest" id="pseOption" name="paymentMethod" value="pse" [(ngModel)]="selectedPaymentMethod">
        <label for="pseOption">PSE</label>
      </p>
    </div>

    <div *ngIf="selectedPaymentMethod === 'tarjeta'" class="formulario-pago">
      <!-- Contenido del formulario de tarjeta -->
      <form #tarjetaForm="ngForm" (ngSubmit)="realizarPago()">
        <label for="nombrePropietario">Nombre del propietario</label>
        <input type="text" id="nombrePropietario" name="nombrePropietario" [(ngModel)]="nombrePropietario"
               [ngClass]="{ 'invalid-field': !validarNombrePropietario() }" required>
        <div *ngIf="!validarNombrePropietario()" class="error-message">
          Ingrese un nombre de propietario válido
        </div>

        <label for="numeroTarjeta">Número de tarjeta</label>
        <input data-test="NumeroTestTc" type="text" id="numeroTarjeta" name="numeroTarjeta" [(ngModel)]="numeroTarjeta" maxlength="12" required
               [ngClass]="{ 'invalid-field': !validarNumeroTarjeta() }">
        <div *ngIf="!validarNumeroTarjeta()" class="error-message">
          El número de tarjeta debe tener exactamente 12 dígitos
        </div>

        <label for="fechaVencimiento">Fecha de vencimiento (MM/YYYY)</label>
        <input data-test="fechaTestTc" type="text" id="fechaVencimiento" name="fechaVencimiento" [(ngModel)]="fechaVencimiento"
               placeholder="MM/YYYY" required [ngClass]="{ 'invalid-field': !validarFechaVencimiento() }">
        <div *ngIf="!validarFechaVencimiento()" class="error-message">
          El formato de fecha debe ser MM/YYYY y debe ser igual o posterior a la fecha actual
        </div>


        <label for="codigoCVV">Código CVV</label>
        <input data-test="cvvtest" type="text" id="codigoCVV" name="codigoCVV" [(ngModel)]="codigoCVV" maxlength="3" required
               [ngClass]="{ 'invalid-field': !validarCodigoCVV() }">
        <div *ngIf="!validarCodigoCVV()" class="error-message">
          El código CVV debe tener exactamente 3 dígitos
        </div>

      </form>
    </div>

    <div *ngIf="selectedPaymentMethod === 'pse'" class="formulario-pago pse">

      <!-- Contenido del formulario de PSE -->
      <label for="banco">Seleccionar Banco:</label>
      <select class = "bankselection" data-test = "selecttest" id="banco" name="banco" [(ngModel)]="bancoSeleccionado">
        <option value="banco1">BBVA</option>
        <option value="banco2">Davivienda</option>
      </select>
      <label for="correoPSE">Correo Registrado en PSE:</label>
      <input data-test = "pseemailtest" type="email" id="correoPSE" name="correoPSE" placeholder="Correo electrónico registrado en PSE" required [(ngModel)]="correoPSE">
    </div>
    <!-- Botón de Pagar -->
    <button data-test = "pagartest" class="pay" [disabled]="grandTotal <= 0 || !camposBloqueados || name =='' || doc =='' || address =='' || !verificarCamposDiligenciados()" (click)="realizarPago()">
      <i class="bx bx-cart-alt"></i> Pagar
    </button>
  </div>
</div>
</div>