.title-icon {
    color: #000000;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    font-family: Plaster;
    text-align: center;
    cursor: pointer;
}

.container-icons {
    text-align: center;
    color: white;
    background-color: #00473A;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* Espacio igual entre las divisiones */
    align-items: center;
}

.carrito{
    align-items: center;
    display: flex;
    }
    
    .cart-count {
        color: #000;
       background-color: #ff0000;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 100;
        top: -8px;
        right: -8px;
        position: absolute;
        transform: translate(50%, -50%);
    }
    /* Estilos para el contenedor del ícono del carrito */
    .cart-icon-container {
      position: relative;
      display: inline-block;
    }
    
    /* Estilos para el ícono del carrito */
    .cart-icon {
      position: relative;
    }
    
header {
    text-align: center;
    color: white;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-icon {
    color: black;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    text-align: center;
    font-family: Plaster;
}

.header-left,
.header-right {
    flex: 1;
    text-align: center;

}

.header-left {
    color: #fafafa;
    font-family: Josefin Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    text-align: left;
    display: flex;
    align-items: center;
}

.header-right a i {
    color: white;
    font-size: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}

.header-right a {
    margin-right: 30px
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #00473A;
  top: 22%
}

.dropdown-content button:hover {
  background-color: #00473A;
  cursor: pointer;
  color: rgb(245, 239, 239);
}

.dropdown-content div,
.dropdown-content button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: #00473A;
  font-family: Josefin Sans;
  text-align: center;
  border: 1px solid #00473A;
  transition: background-color 0.2s ease;
}



.container-arrow {
  display: flex;
  align-items: center;
  vertical-align: 0;
  margin-right: 10px;
}


.header-left a {
  cursor: pointer; /* Agregado para indicar que el enlace es clickeable */
  margin-right: 30px;
}

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-info-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #00473A;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.about-info:hover .about-info-content {
  display: block;
}

.about-info label {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: #00473A;
  font-family: Josefin Sans;
  text-align: center;
  border: 1px solid #00473A;
  transition: background-color 0.2s ease;
  font-size: 15px; /* Ajusta el tamaño de la fuente según tus preferencias */

}

.about-info label:hover {
  background-color: #00473A;
  color: rgb(245, 239, 239);
  cursor: pointer;
}

.header-right a {
  margin-right: 30px;
  cursor: pointer; /* Agregado para indicar que el enlace es clickeable */
}
