<header>
  <div class="title-container" (click)="titleHome()">
    <h1 class="title-icon">LAPIZ</h1>
  </div>
</header>

<div class="container-icons ">
  <div class="header-left">
    <div class="container-arrow" (click)="backClicked()">
      <iconify-icon icon="bx:left-arrow-alt"></iconify-icon>
    </div>
    <div class="about-info">
      <a (click)="toggleAboutInfo()" style="cursor: pointer;">{{'Acerca de Nosotros'|translate}}</a>
      <div class="about-info-content" *ngIf="aboutInfoOpen">
        <label>Teléfono: +123456789</label>
        <label>Dirección: Calle Principal, Ciudad</label>
      </div>
    </div>
  </div>

    <div class="header-right">
        <div class="dropdown">
            <a (click)="toggleDropdown()"><i class="bx bx-user"></i></a>
            <div class="dropdown-content" *ngIf="dropdownOpen">
                <div *ngIf="!userLoginOn" class="alert alert-danger">{{'Usuario NO autenticado'|translate}}</div>
                <div *ngIf="userLoginOn" class="alert alert-success">{{ userNameDecoded }}</div>
                <button *ngIf="!userLoginOn" (click)="loginClicked()">{{'Iniciar sesión'|translate}}</button>
                <button *ngIf="userLoginOn" (click)="logout()">{{'Cerrar sesión'|translate}}</button>
            </div>
        </div>
        <div class="cart-icon-container">
            <a (click)="navigateToCart()" class="cart-icon">
              <i class="bx bx-shopping-bag"></i>
              <span class="cart-count">{{ cartItemCount }}</span>
            </a>
          </div>
        <div>
            <app-switch></app-switch>
        </div>
    </div>
</div>

